#s-4a8ed319-5de2-4461-b83c-c0c343fb07ec #s-spinner-2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4a8ed319-5de2-4461-b83c-c0c343fb07ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}