#s-4a8ed319-5de2-4461-b83c-c0c343fb07ec > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4a8ed319-5de2-4461-b83c-c0c343fb07ec > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-4a8ed319-5de2-4461-b83c-c0c343fb07ec #s-spinner-2 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4a8ed319-5de2-4461-b83c-c0c343fb07ec #s-spinner-2 > img, #s-4a8ed319-5de2-4461-b83c-c0c343fb07ec #s-spinner-2 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4a8ed319-5de2-4461-b83c-c0c343fb07ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}