#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Paragraph_5 {
  position: absolute;
  width: 276px;
  height: 299px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Paragraph_5 > .clipping, #s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Paragraph_5 > .paddingLayer {
  height: 299px;
  width: 276px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Paragraph_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Paragraph_5 span#rtr-s-Paragraph_5_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Paragraph_5 span#rtr-s-Paragraph_5_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Button_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #47D9B3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  box-shadow: 0px 3px 3px 0px #CCCCCC;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Button_3 {
  position: absolute;
  width: 128px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Button_3 > .clipping, #s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Button_3 > .paddingLayer {
  height: 35px;
  width: 128px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #shapewrapper-s-Line_2 marker {
  fill: #999999;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 14px;
  height: 6px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Line_2 {
  width: 14px;
  height: 5px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #999999;
  box-shadow: none;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Hotspot_1 {
  position: absolute;
  width: 50px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Hotspot_1 > img, #s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Hotspot_1 > svg {
  height: 53px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}