#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Line_2 {
  stroke-width: 1px;
  stroke: #999999;
  -ms-transform: rotate(180.0deg);
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Line_2 {
  stroke-width: 1px;
  stroke: #999999;
  -ms-transform: rotate(180.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}