#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 #s-Line_2 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4b5e2bc6-12d8-43f7-bf2e-a3b1d0f99947 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}