#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Text_2 > .clipping, #s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Paragraph_1 {
  position: absolute;
  width: 250px;
  height: 250px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Paragraph_1 > .clipping, #s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Paragraph_1 > .paddingLayer {
  height: 250px;
  width: 250px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Paragraph_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F3F3F3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  box-shadow: 0px 3px 3px 0px #EFEFEF;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_1 {
  position: absolute;
  width: 250px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_1 > .clipping, #s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_1 > .paddingLayer {
  height: 46px;
  width: 250px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  box-shadow: 0px 3px 3px 0px #CCCCCC;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_2 {
  position: absolute;
  width: 128px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_2 > .clipping, #s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_2 > .paddingLayer {
  height: 35px;
  width: 128px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #47D9B3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  box-shadow: 0px 3px 3px 0px #CCCCCC;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_3 {
  position: absolute;
  width: 128px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_3 > .clipping, #s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_3 > .paddingLayer {
  height: 35px;
  width: 128px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Group_1 {
  position: absolute;
  width: 50px;
  height: 53px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #shapewrapper-s-Line_2 marker {
  fill: #999999;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 14px;
  height: 6px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Line_2 {
  width: 14px;
  height: 5px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #999999;
  box-shadow: none;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Hotspot_1 {
  position: absolute;
  width: 50px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Hotspot_1 > img, #s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Hotspot_1 > svg {
  height: 53px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-eventId > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-eventId {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-eventId > .clipping, #s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-eventId > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-eventId .valign {
  vertical-align: middle;
  text-align: left;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-eventId span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-eventId span#rtr-s-eventId_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Image_7 {
  position: absolute;
  width: 23px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Image_7 > img, #s-706e5d8b-c8c2-433e-9d3d-e05be409c360 #s-Image_7 > svg {
  height: 25px;
  width: 23px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-706e5d8b-c8c2-433e-9d3d-e05be409c360 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}