#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 72px;
  width: 276px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 50px 50px 50px 50px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  height: 50px;
  width: 50px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}