#s-9b1aa84a-d23b-48d3-b31a-32980a928444 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Rectangle_1 {
  position: absolute;
  width: 360px;
  height: 640px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Rectangle_1 > .clipping, #s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Rectangle_1 > .paddingLayer {
  height: 640px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Image_1 {
  position: absolute;
  width: 308px;
  height: 640px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Image_1 > img, #s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Image_1 > svg {
  height: 640px;
  width: 308px;
  box-shadow: none;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 1px 1px 0px #434343;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_2 {
  position: absolute;
  width: 284px;
  height: 80px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_2 > .clipping, #s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_2 > .paddingLayer {
  height: 72px;
  width: 276px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Image_2 {
  position: absolute;
  width: 23px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Image_2 > img, #s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Image_2 > svg {
  height: 23px;
  width: 23px;
  box-shadow: none;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_1 {
  position: absolute;
  width: 74px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Yu Gothic UI Light',Arial;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_1 > .clipping, #s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_1 > .paddingLayer {
  height: 18px;
  width: 74px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Yu Gothic UI Light',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Yu Gothic UI Light',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_2 {
  position: absolute;
  width: 48px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Yu Gothic UI Semilight',Arial;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_2 > .clipping, #s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_2 > .paddingLayer {
  height: 18px;
  width: 48px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Yu Gothic UI Semilight',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Yu Gothic UI Semilight',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Yu Gothic UI Semilight',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_3 {
  position: absolute;
  width: 263px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Yu Gothic UI Semilight',Arial;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_3 > .clipping, #s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_3 > .paddingLayer {
  height: 31px;
  width: 263px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Yu Gothic UI Semilight',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Yu Gothic UI Semilight',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #666798;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 50px 50px 50px 50px;
  box-shadow: none;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_1 {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_1 > .clipping, #s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_1 > .paddingLayer {
  height: 50px;
  width: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9b1aa84a-d23b-48d3-b31a-32980a928444 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}