#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}