#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  box-shadow: 0px 4px 5px 0px #D9D9D9;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_3 {
  position: absolute;
  width: 322px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_3 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_3 > .paddingLayer {
  height: 89px;
  width: 322px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  box-shadow: 0px 4px 5px 0px #D9D9D9;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_4 {
  position: absolute;
  width: 322px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_4 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_4 > .paddingLayer {
  height: 89px;
  width: 322px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  box-shadow: 0px 4px 5px 0px #D9D9D9;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_2 {
  position: absolute;
  width: 322px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_2 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_2 > .paddingLayer {
  height: 89px;
  width: 322px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  box-shadow: 0px 4px 5px 0px #D9D9D9;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_1 {
  position: absolute;
  width: 322px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_1 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_1 > .paddingLayer {
  height: 89px;
  width: 322px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_6 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_6 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_6 > svg {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_7 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_7 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_7 > svg {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_8 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_8 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_8 > svg {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 {
  position: absolute;
  width: 153px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 span#rtr-s-Paragraph_1_3 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 span#rtr-s-Paragraph_1_4 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 span#rtr-s-Paragraph_1_5 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 span#rtr-s-Paragraph_1_6 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 span#rtr-s-Paragraph_1_7 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 {
  position: absolute;
  width: 233px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 > .paddingLayer {
  height: 60px;
  width: 233px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 span#rtr-s-Paragraph_2_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 span#rtr-s-Paragraph_2_3 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 span#rtr-s-Paragraph_2_4 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 span#rtr-s-Paragraph_2_5 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 {
  position: absolute;
  width: 218px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 > .paddingLayer {
  height: 60px;
  width: 218px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 span#rtr-s-Paragraph_3_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 span#rtr-s-Paragraph_3_3 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 span#rtr-s-Paragraph_3_4 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 span#rtr-s-Paragraph_3_5 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 span#rtr-s-Paragraph_3_6 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 span#rtr-s-Paragraph_3_7 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 {
  position: absolute;
  width: 211px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 span#rtr-s-Paragraph_4_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 span#rtr-s-Paragraph_4_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 span#rtr-s-Paragraph_4_3 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 span#rtr-s-Paragraph_4_4 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 span#rtr-s-Paragraph_4_5 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 span#rtr-s-Paragraph_4_6 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 span#rtr-s-Paragraph_4_7 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 span#rtr-s-Paragraph_4_8 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 {
  position: absolute;
  width: 276px;
  height: 62px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 > .paddingLayer {
  height: 62px;
  width: 276px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 span#rtr-s-Paragraph_5_1 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_2 {
  position: absolute;
  width: 321px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_2 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_2 > svg {
  height: 95px;
  width: 321px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_3 {
  position: absolute;
  width: 321px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_3 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_3 > svg {
  height: 95px;
  width: 321px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_4 {
  position: absolute;
  width: 321px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_4 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_4 > svg {
  height: 95px;
  width: 321px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_5 {
  position: absolute;
  width: 48px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_5 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_5 > svg {
  height: 50px;
  width: 48px;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_1 {
  position: absolute;
  width: 321px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_1 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_1 > svg {
  height: 95px;
  width: 321px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -2px 2px 3px 0px #D9D9D9;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_5 {
  position: absolute;
  width: 231px;
  height: 126px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_5 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_5 > .paddingLayer {
  height: 126px;
  width: 231px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_6 {
  position: absolute;
  width: 64px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_6 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_6 > .paddingLayer {
  height: 29px;
  width: 64px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_6 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Input_1 {
  position: absolute;
  width: 91px;
  height: 20px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Input_1 .valign {
  vertical-align: bottom;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Input_1 input {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Input_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Input_1 > .paddingLayer {
  height: 19px;
  width: 91px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #47D9B3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_6 {
  position: absolute;
  width: 231px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_6 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_6 > .paddingLayer {
  height: 38px;
  width: 231px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_5 {
  position: absolute;
  width: 231px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_5 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_5 > svg {
  height: 50px;
  width: 231px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #shapewrapper-s-Ellipse_1 > .shapert-clipping {
  width: 25px;
  height: 25px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #shapewrapper-s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  overflow: hidden;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  width: 25px;
  height: 25px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #shapewrapper-s-Ellipse_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #shapewrapper-s-Ellipse_1 {
  position: absolute;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Ellipse_1 {
  width: 25px;
  height: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: 0px 3px 3px 0px #999999;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #shapewrapper-s-Ellipse_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_2 > svg {
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_2 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_2 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_2 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_6 {
  position: absolute;
  width: 60px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_6 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_6 > svg {
  height: 53px;
  width: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}