#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}