#s-d80d9b6c-225b-48eb-a446-fe5f897a522a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Image_1 {
  position: absolute;
  width: 145px;
  height: 111px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Image_1 > img, #s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Image_1 > svg {
  height: 111px;
  width: 145px;
  box-shadow: none;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Paragraph_1 {
  position: absolute;
  width: 214px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Yu Gothic UI Semilight',Arial;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Paragraph_1 > .clipping, #s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Paragraph_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Yu Gothic UI Semilight',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Yu Gothic UI Semilight',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Group_1 {
  position: absolute;
  width: 50px;
  height: 53px;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #shapewrapper-s-Line_2 marker {
  fill: #999999;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #shapewrapper-s-Line_2 {
  position: absolute;
  width: 14px;
  height: 6px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Line_2 {
  width: 14px;
  height: 5px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #999999;
  box-shadow: none;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Hotspot_1 {
  position: absolute;
  width: 50px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Hotspot_1 > img, #s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Hotspot_1 > svg {
  height: 53px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}