#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Paragraph_1 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Line_2 {
  stroke-width: 1px;
  stroke: #999999;
  -ms-transform: rotate(180.0deg);
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a #s-Line_2 {
  stroke-width: 1px;
  stroke: #999999;
  -ms-transform: rotate(180.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d80d9b6c-225b-48eb-a446-fe5f897a522a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}