#s-f85875fb-5e23-4dde-ad82-c034f3989f63 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_2 {
  position: absolute;
  width: 176px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Yu Gothic UI Light',Arial;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_2 > .clipping, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Yu Gothic UI Light',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Yu Gothic UI Light',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_1 {
  width: 248px;
  height: 225px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_1 > .layoutWrapper {
  left: 6px;
  top: 6px;
  width: 236px;
  height: 213px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_4 {
  position: absolute;
  width: 21px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_4 > img, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_4 > svg {
  height: 28px;
  width: 21px;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_1 {
  position: absolute;
  width: 172px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_1 > .clipping, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_1 > .paddingLayer {
  height: 67px;
  width: 172px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_43 > svg {
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_43 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_43 > img, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_43 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_44 > svg {
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_44 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_44 > img, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_44 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_1 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #01E7AD;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #01E7AD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #01E7AD;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #01E7AD;
  border-radius: 96px 96px 96px 96px;
  box-shadow: 0px 5px 5px 0px #CCCCCC;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_1 {
  position: absolute;
  width: 192px;
  height: 192px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 7.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_1 > .clipping, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_1 > .paddingLayer {
  height: 92px;
  width: 92px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 7.0pt;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 7.0pt;
  line-height: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_2 {
  width: 248px;
  height: 225px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_2 > .layoutWrapper {
  left: 6px;
  top: 6px;
  width: 236px;
  height: 213px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_5 {
  position: absolute;
  width: 24px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_5 > img, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_5 > svg {
  height: 23px;
  width: 24px;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_3 {
  position: absolute;
  width: 172px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_3 > .clipping, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_3 > .paddingLayer {
  height: 67px;
  width: 172px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_46 > svg {
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_46 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_46 > img, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_46 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_45 > svg {
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_45 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_45 > img, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_45 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_3 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #01E7AD;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #01E7AD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #01E7AD;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #01E7AD;
  border-radius: 96px 96px 96px 96px;
  box-shadow: 0px 5px 5px 0px #CCCCCC;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_3 {
  position: absolute;
  width: 192px;
  height: 192px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_3 > .clipping, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_3 > .paddingLayer {
  height: 92px;
  width: 92px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_3 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_3 {
  width: 248px;
  height: 225px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_3 > .layoutWrapper {
  left: 1px;
  top: 1px;
  width: 246px;
  height: 223px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_6 {
  position: absolute;
  width: 23px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_6 > img, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_6 > svg {
  height: 25px;
  width: 23px;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_4 {
  position: absolute;
  width: 174px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_4 > .clipping, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_4 > .paddingLayer {
  height: 67px;
  width: 174px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_48 > svg {
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_48 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_48 > img, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_48 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_47 > svg {
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_47 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_47 > img, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_47 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_4 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #01E7AD;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #01E7AD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #01E7AD;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #01E7AD;
  border-radius: 96px 96px 96px 96px;
  box-shadow: 0px 5px 5px 0px #CCCCCC;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_4 {
  position: absolute;
  width: 192px;
  height: 192px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_4 > .clipping, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_4 > .paddingLayer {
  height: 92px;
  width: 92px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_4 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Group_1 {
  position: absolute;
  width: 50px;
  height: 53px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #shapewrapper-s-Line_2 marker {
  fill: #999999;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 14px;
  height: 6px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Line_2 {
  width: 14px;
  height: 5px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #999999;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Hotspot_1 {
  position: absolute;
  width: 50px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Hotspot_1 > img, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Hotspot_1 > svg {
  height: 53px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_3 > .clipping, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_1 {
  position: absolute;
  width: 80px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_1 > .clipping, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_1 > .paddingLayer {
  height: 21px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_1 span {
  color: #999999;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #999999;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-custNo > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-custNo {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-custNo > .clipping, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-custNo > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-custNo .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-custNo span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-custNo span#rtr-s-custNo_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-eventId > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-eventId {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-eventId > .clipping, #s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-eventId > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-eventId .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-eventId span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-eventId span#rtr-s-eventId_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}